$base-blue: #007bc1;
$base-dark-blue: #050328;
$base-orange: #ff8000;
$base-dark-orange: #cc6600;
$base-smoke-gray: #e5e5e5;
$base-white: #fff;
body {
  background: $base-smoke-gray !important;
}
.margin-20 {
  margin: 20px;
}
.margin-30 {
  margin: 30px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.container-fluid {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.center {
  text-align: center;
}
.font-white {
  color: $base-white;
}
.font-bold {
  font-weight: bold;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
header {
  background: #004a75
    url("https://res.cloudinary.com/rendisimamora/image/upload/v1558340652/Cermati/work-desk__dustin-lee.jpg")
    center center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
  filter: none !important;
  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 130px !important;
  }
  .img-logo {
    width: 50px;
  }
  .hero__shot__section {
    padding: 150px;
    .btn-cermati-header {
      border: 2px solid #fff;
      border-radius: 2px;
      transition: 0.5s;
      font-weight: 500;
      &:hover {
        background: $base-white !important;
        color: $base-blue;
        transition: 0.5s;
      }
    }
    @media only screen and (max-width: 600px) {
      padding: 30px;
    }
  }
}

/* End Slider */

.notification{
  position: fixed !important;
  z-index: 9999;
  top: 0;
  background: $base-white;
  width: 100%;
  p{
    margin: 0px;
    padding: 10px;
  }
  span{
    color: $base-blue;
    cursor: pointer;
  }
  button{
    margin-bottom: 10px;
    &:hover{
      cursor: pointer;
    }
  }
}
.highlight-panel-content {
  border: 1px solid #c5c5c5;
  padding: 20px 10px 0px 20px;
  margin-bottom: 20px;
  height: 200px;
  @media only screen and (max-width: 768px) {
    height: 250px;
  }
  .highlight-panel-header-right {
    p{
      color: #ccc;
      float: right;
      margin-top: -50px;
      font-size: 30px;
    }
  }
}

.newsletter {
  width: 45%;
  padding: 30px 20px 30px 20px !important;
  background: rgba(22, 130, 195, 0.93);
  position: fixed !important;
  border: none;
  bottom: 0px;
  margin-bottom: 0px !important;
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 25px 20px !important;
  }
  .newsletter-dismissible {
    padding-right: 20px !important;
  } 
  .close {
    color: #fff !important;
    font-size: 16px;
    padding: 5px 10px 10px 10px !important;
  }
  #newsletter-left-box{
    padding-right: 0px !important;
    @media only screen and (max-width: 768px) {
      padding-right: 15px !important;
    }
    input{
      padding: 5px 0.75rem;
      width: 100%;
    }
  }
  .btn-count{
    border: none !important;
    padding: 5px 10px 10px 10px;
    font-size: 12px;
    font-weight: bold !important;
    color: $base-white !important;
    background: $base-orange !important;
    border-radius: 5px;
    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-top: 10px;
    }
  }
}

footer {
  background: $base-dark-blue;
}